@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
.wishlist {
    text-align: center;
    color: rgb(58, 48, 34);
    font-family: 'Fasthand', cursive;
    font-size: 38px;
    text-decoration: underline;
    letter-spacing: 4px;
}
.wish-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.wished-movies{
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.wished-left-card img {
    width: 250px;
    border-radius: 12px;
    height: auto;
}

.wished-btn2 {
    padding: 6px 12px;
    width: 150px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 12px;
    color: white;
    background: linear-gradient(to right, #08131fce, #1b0b0bd2);
}
.wished-btn2:hover {
    background: rgb(240, 204, 204);
    color:  #020e1bce;
}

@media (max-width: 768px) {
    .wish-bar{
        flex-direction: column;
        gap: 0px;
    }
    .wished-movies{
        width: 250px;
        padding: 8px;
        flex-direction: column;
    }
    .wished-left-card img {
        width: 200px;
        border-radius: 12px;
        height: auto;
    }
}