.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}
.summary-section {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 5px 10px;
    flex-direction: column;
    border: 1px solid salmon;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
.movie-price, .tickets, .fee, .total {
    display: flex;
    justify-content: space-between;
}
.movie-price p:last-child, .fee p:last-child, .total p:last-child {
    font-weight: 700;
}
.payment-section {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 12px;
    gap: 20px;
    border: 1px solid salmon;
    border-radius: 10px;
}
.payment-form, .payment-option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 8px 0;
    border-bottom: 2px solid gray;
}
.payment-option {
    display: flex;
    justify-content: flex-start;
}
.card-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-details input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
.pay-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pay-btn {
    padding: 10px;
    outline: none;
    border: 0;
    width: 40%;
    border-radius: 15px;
    background-color: blue;
    color: rgb(240, 237, 231);
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5px 15px;
        gap: 10px;
    }
    .summary-section {
        border-radius: 20px;
    }
    .payment-section {
        width: 300px;
        gap: 10px;
        border: 1px solid salmon;
        border-radius: 20px;
    }
    .payment-form {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .payment-form input{
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgb(228, 77, 77);
    }
    .pay-btn {
        width: 80%;
        border-radius: 25px;
        background-color: blue;
    }
}