h1{
    text-align: center;
}
.part-one {
    margin: 10px 30px 30px;
    
}
.booking-input {
    display: flex;
    justify-content: space-between;
}
.cinema-name, .book-date, .time {
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.part-two {
    display: flex;
    margin: 10px 30px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.trap-box-one, .trap-box-two, .trap-box-three {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.trap-box-two {
    background-color: blue;
}
.trap-box-three {
    background-color: red;
}
.part-three, .part-five {
    display: flex;
    margin: 10px 30px;
    justify-content: center;
    align-items: center;
}
.screen {
    width: 1000px;
    height: 20px;
    border-top: 50px solid rgb(130, 89, 245);
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
}

.part-four {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    align-items: center;
    justify-content: center;
    margin: 30px 100px;
  }
  
  .box {
    width: 35px;
    height: 35px;
    margin: 0.2rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .box.occupied {
    background-color: blue;
  }

.btn-seat {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
    color: white;
    background-color: rgba(190, 117, 6, 0.993);
    cursor: pointer;
}

@media (max-width: 768px) {
    .part-one {
        margin: 5px;
    }
    .booking-input {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    .trap-box-one, .trap-box-two, .trap-box-three {
        height: 15px;
    }
    .part-four {
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(10, 30px);
    }
    .box {
        width: 20px;
        height: 20px;
        font-size: 9px;
    }
}