.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2c3e50, #4d4d4d);

}
.forms {
    width: 300px;
    padding: 20px;
    min-height: 300px;
    border: 1px solid #08131f;
    border-radius: 20px;
    background: linear-gradient(to right, #08131f, #1b0b0b);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}
.forms h2 {
    text-align: center;
    color: white;
    font-size: 32px;
}

.display-tag {
    display: flex;
    gap: 5px;
    flex-direction: column;
    color: white;
}
.display-tag input {
    padding: 15px 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
}
input:focus {
    color: black;
    outline: none;
    background-color: white;
    border: 1px solid rgb(231, 97, 97);
}
.forms button:last-child {
   position: relative;
   left: 50%;
   color: white;
   font-weight: 500;
   font-size: 20px;
   transform: translate(-50%);
   padding: 10px 18px;
   background-color: rgb(53, 50, 50);
    border: 1px solid rgb(179, 117, 117);
    border-radius: 10px;
    cursor: pointer;
}
.forms button:hover {
    color: rgb(53, 50, 50);
    background-color: white;
}
.registerBtn{
   color: rgb(22, 19, 19);
   width: 100%;
   font-weight: 600;
   font-size: 16px;
   padding: 10px 18px;
   background-color: rgb(240, 187, 187);
    border: 1px solid rgb(179, 117, 117);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}